version: 2

defaults: &defaults
  machine:
    image: circleci/classic:201710-02
    docker_layer_caching: true
  steps:
    - checkout
    - run: .circleci/build.sh
    - step:
        run: docker-compose run --rm test-unit
        working_directory: test
        when: always
    - step:
        run: docker-compose run --rm test-rest
        working_directory: test
        when: always
    - step:
        run: docker-compose run --rm test-acceptance.webdriverio
        working_directory: test
        when: always
    - step:
        run: docker-compose run --rm test-acceptance.nightmare
        working_directory: test
        when: always
    - step:
        run: docker-compose run --rm test-acceptance.puppeteer
        working_directory: test
        when: always
    - step:
        run: docker-compose run --rm test-acceptance.protractor
        working_directory: test
        when: always

jobs:
  docker:
    <<: *defaults
    environment:
      - NODE_VERSION: 9.2.0

workflows:
  version: 2

  test_all:
    jobs:
      - docker
