<div class="jumbotron">
  <div class="container">
    <img src="/images/cjs-base.png" style="width: 150px" alt="">
    <h1>CodeceptJS</h1>
    <div class="motto">Modern End 2 End Testing for NodeJS</div>
  </div>
  <div class="row" >
    <div class="col-md-4">
      <img src="/images/Checklist.svg" alt="">
      <h3>Scenario Driven</h3>
      <p>
        Write acceptance tests from user's perspective. Every command is described as an action of a user visiting a site.

      </p>
    </div>
    <div class="col-md-4">
      <img src="/images/Mind-Map-Paper.svg" alt="">
      <h3>Backend Agnostic</h3>
      <p>
        Use your favorite testing tool! Write test once and execute it differently.
        Should this be Selenium or Headless Chrome? Whatever you choose, the code is the same!
      </p>
    </div>
    <div class="col-md-4">
      <img src="/images/Coding-Html.svg" alt="">
      <h3>Interactive shell</h3>
      <p>
        Control browser in realtime with API of CodeceptJS. Click buttons, fill fields, try different locators inside a running test!

      </p>
    </div>
  </div>
  <div class="row  hidden-sm hidden-xs">
    <div class="col-md-4">
      <div class="sample">
      <pre>
        <code class="javascript">I.amOnPage('/');
I.click('Login');
I.fillField('Username', 'john');
I.fillField('Password', '123456');
I.click('Enter');
I.see('Welcome');
</code></pre>
</div>
    </div>
    <div class="col-md-4">
      <div class="sample backends">
      <ul>
          <li>
              <a target="_blank" href="http://webdriver.io/">
              <img src="/images/webdriverio.png" alt="WebDriverIO Selenium Bindings">
              </a>
            </li>
            <li>
              <a target="_blank" href="http://www.seleniumhq.org/">
                <img src="/images/selenium.png" alt="Selenium">
              </a>
            </li>
            <li>
              <a target="_blank" href="http://www.protractortest.org/">
                <img src="/images/protractor.png" alt="Protractor end to end testing for AngularJS">
              </a>
            </li>
            <li>
                <a target="_blank" href="https://developers.google.com/web/tools/puppeteer/">
                  <img src="/images/puppeteer.png" alt="Puppeteer - high-level API to control headless Chrome or Chromium over the DevTools">
                </a>
              </li>
              <li>
                  <a target="_blank" href="http://appium.io">
                    <img src="/images/appium.png" alt="Appium is an open source test automation framework for use with native, hybrid and mobile web apps. ">
                  </a>
                </li>
      </ul>
    </div>
    </div>
    <div class="col-md-4">
      <div class="sample">
              <img src="/images/shell.png" alt="">
    </div>
    </div>
  </div>
  <div>
    <div class="container video">
      <div class="row text-center">
        <h2>In Action</h2>
          <video onclick="this.paused ? this.play() : this.pause();" src="/images/codeceptjs_demo.mp4" style="width: 70%" controls></video>
        </div>
      </div>
  </div>
</div>

<div class="wrapper">

      <a href="/quickstart" class="btn btn-danger btn-lg install-label">Quickstart &raquo;</a>
</div>

<div class="container page">

<div class="row features">
    <div class="col-md-4">
      <img src="/images/Prism-3.svg" alt="">
      <h5>Synchronous tests with async/await</h5>
      Your test scenarios are linear, your test should be to.
    </div>

    <div class="col-md-4">
        <img src="/images/Prism-3.svg" style="filter: hue-rotate(45deg); transform: rotate(225deg); " alt="">
        <h5>PageObjects</h5>
        PageObjects are essential to write stable and reusable code!
      </div>

      <div class="col-md-4">
          <img src="/images/Prism-3.svg" style="filter: hue-rotate(90deg); transform: rotate(180deg);" alt="">
          <h5>Web & Mobile Testing</h5>
          Write your tests for web and and mobile applications using same API.
        </div>
</div>

<div class="row features">
    <div class="col-md-4">
      <img src="/images/Prism-3.svg" style="filter: hue-rotate(135deg); transform: rotate(45deg);" alt="">
      <h5>Cucumber-like BDD</h5>
      Automate business scenarios as you do in CucumberJS
    </div>

    <div class="col-md-4">
        <img src="/images/Prism-3.svg" style="filter: hue-rotate(180deg); transform: rotate(90deg);" alt="">
        <h5>Beautiful Reports</h5>
        Integrated with Allure reporter
      </div>

      <div class="col-md-4">
          <img src="/images/Prism-3.svg" style="filter: hue-rotate(225deg); transform: rotate(135deg);" alt="">
          <h5>Simplified Debug</h5>
          Pause test at any point and use interactive shell.
        </div>
</div>

<div class="row features">
    <div class="col-md-4">
      <img src="/images/Prism-3.svg" style="transform: rotate(90deg); filter: hue-rotate(60deg) saturate(20%);" alt="">
      <h5>Headless Tests</h5>
      Run tests headlessly without Selenium using Puppeteer or NightmareJS
    </div>

    <div class="col-md-4">
        <img src="/images/Prism-3.svg" style="filter: hue-rotate(105deg) saturate(20%); transform: rotate(45deg);" alt="">
        <h5>No Flaky Steps</h5>
        Flaky steps to be retried automatcically
      </div>

      <div class="col-md-4">
          <img src="/images/Prism-3.svg" style="filter: hue-rotate(135deg) saturate(20%); transform: rotate(0deg);" alt="">
          <h5>Multi-Session Testing</h5>
          Run a test using several browser windows
        </div>
</div>

<div class="row features">
  <div class="col-md-3">
    <h5>CSS/XPath Locators</h5>
    <p>Locate elements by semantic values, CSS or XPath. Generate locators using Locator Builder</p>
  </div>

  <div class="col-md-3">
      <h5>Parallel Testing</h5>
      <p>Tests are split into chunks and executed in multiple processes.</p>
  </div>

  <div class="col-md-3">
      <h5>Data Management</h5>
      <p>Create and delete tests data using REST API. Generate seed data using rosie and faker libraries</p>
  </div>


  <div class="col-md-3">
    <h5>Open-Source</h5>
    <p>Hosted on GitHub, MIT Licensed with friendly community</p>
  </div>
</div>

</div>