<div class="jumbotron">    
  <div class="container"> 
    <img src="/images/cjs-base.png" style="width: 150px" alt="">
    <h1>CodeceptJS</h1>
    <div class="motto">Modern Era Acceptance Testing for NodeJS</div>
  </div> 
  <div class="row">
    <div class="col-md-4">
      <img src="/images/Checklist.svg" alt="">
      <h3>Scenario Driven</h3>    
      <p>
        Write acceptacne tests from user's perspecitve. Every command is described as an action of a user visiting a site. 

      </p>
    </div>
    <div class="col-md-4">
      <img src="/images/Mind-Map-Paper.svg" alt="">
      <h3>Backend Agnostic</h3>
      <p>
      CodeceptJS provides a general high-level API which can easily be executed using one of popular test runner libraries:
      </p>
    </div>
    <div class="col-md-4">
      <img src="/images/Coding-Html.svg" alt="">
      <h3>Interactive shell</h3>
      <p>
        Control browser in realtime with API of CodeceptJS. Click buttons, fill fileds, try different locators inside a running test! 

      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="sample">
      <pre>
        <code class="javascript">

          I.amOnPage('/');<br>
          I.click('Login');<br>
          I.fillField('Username', 'john');<br>
          I.fillField('Password', '123456');<br>
          I.click('Enter');<br>
          I.see('Welcome');<br>
        </code>
        </pre>
</div>
    </div>
    <div class="col-md-4">
      <div class="sample">
      <ul>
        <li><a href="http://webdriverio.com" target="_blank">WebDriverIO</a></li>
        <li>Protractor <em><small>(work in progress)</small></em></li>
        <li>PhantomJS <em><small>(work in progress)</small></em></li>
        <li>or others...</li>
      </ul>      
    </div>
    </div>
    <div class="col-md-4">
      <div class="sample">
              <img src="/images/shell.png" alt="">
    </div>
    </div>
  </div>
</div>

<div class="wrapper">

<span class="install-label">Install using NPM:</span>

      <span class="install">
        npm install -g codeceptjs
      </span>    
  
</div>

<div class="container page">
  <div class="text-center"><h2>In Action</h2></div>
  
    <div class="col-md-6">
    <pre><code class="javascript">
<strong>Feature</strong>('CodeceptJS Demonstration');<br><br>

<strong>Scenario</strong>('submit form successfully', (<strong>I</strong>) => {<br>
&nbsp;&nbsp;I.amOnPage('/documentation');<br>
&nbsp;&nbsp;I.fillField('Email', 'hello@world.com');<br>
&nbsp;&nbsp;I.fillField('Password', '123456');<br>
&nbsp;&nbsp;I.checkOption('Active');<br>
&nbsp;&nbsp;I.checkOption('Male');  <br>
&nbsp;&nbsp;I.click('Create User');<br>
&nbsp;&nbsp;I.see('User is valid');<br>
&nbsp;&nbsp;I.dontSeeInCurrentUrl('/documentation');<br>
});      <br>
    </code></pre>
  </div>
  <div class="col-md-6">
    <img src="/images/demo.gif" alt="">
  </div>

<div class="col-md-6">
  <h2>Features</h2>

<p>
  <ul>
    <li><strong>Synchronous Tests API</strong>. You don't need to care about callbacks, or promises, test scenarios are linear, your test should be to.</li>
    <li>
Written from <strong>user's perspective</strong>. Every action is a method of I. That makes test easy to read, write and maintain even for non-tech persons.      
    </li>
    <li>
<strong>Backend agnostic</strong>. We don't know which WebDriver implementation is running this test. We can easily switch from WebDriverIO to Protractor or PhantomJS.
      
    </li>
    <li><strong>PageObjects</strong> and StepObjects are supported out of the box. They can be generated and used in tests through dependency injection.</li>
  </ul>
</p>
</div>

    <div class="col-md-6">
    <h2>Comparisons</h2>

    <p>Learn what makes CodeceptJS different from current solutions</p>

    <h3>vs Mocha + WebDriver</h3>

    <p>
      CodeceptJS is based on Mocha and uses WebDriverIO library behind the scene. However, complexity of WebDriver libraries are hidden inside DSL for you to <strong>concentrate on test scenarios</strong>. That also makes CodeceptJS easy to maintain and read.
    </p>

    <h3>vs Protractor</h3>

    <p>CodeceptJS is a high-level testing system which incorporates Protractor as test execution backend. You can write tests in a simple and readable DSL and make them be <strong>executed with Protractor for your AngularJS</strong> app</p>

    <h3>vs CucumberJS</h3>

    <p>
      Like CucumberJS our framework uses scenarios and steps. Unlike CucumberJS, common <strong>steps are predefined</strong>. That allows you to concentrate on testing and not on building a test framework. We use <strong>JavaScript DSL</strong> instead of Gherkin, to provide better flexibility in testing.

    </p>
    </div>

</div>
