<div class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">

        <div class="right hidden-sm hidden-xs hidden-md" style="margin-left: 10px; margin-top: 10px; margin-right: 5px; float:right; text-align: right">
            <a href="https://twitter.com/CodeceptJS" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @CodeceptJS</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>

    <div class="container">

        <!-- Collapsed navigation -->
        <div class="navbar-header">
            <!-- Expander button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Main title -->
            <a class="navbar-brand" href="{{ homepage_url }}">{{ site_name }}</a>
        </div>

        <!-- Expanded navigation -->
        <div class="navbar-collapse collapse">
            <!-- Main navigation -->
            <ul class="nav navbar-nav">
            {% for nav_item in nav %}
            {% if nav_item.children %}
                <li class="dropdown{% if nav_item.active %} active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ nav_item.title }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    {% for nav_item in nav_item.children %}
                        <li {% if nav_item.active %}class="active"{% endif %}>
                            <a href="{{ nav_item.url }}">{{ nav_item.title }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                </li>
            {% else %}
                {% if nav_item.url != '.' %}
                <li {% if nav_item.active %}class="active"{% endif %}>
                    <a href="{{ nav_item.url }}">{{ nav_item.title }}</a>
                </li>
                {% endif %}
            {% endif %}
            {% endfor %}

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Support  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="https://join.slack.com/t/codeceptjs/shared_invite/enQtMzA5OTM4NDM2MzA4LTNiMTE5YzNlMjQyNWYwZjAzODE3ZTI1MmVkYjY0YTYyNDZmMWJjM2VlODg3NTQzYzM2OGE5ZmIwODFjODk1MzI">Slack</a></li>
                    <li><a href="https://stackoverflow.com/questions/tagged/codeceptjs?mixed=1">Stack Overflow</a></li>
                    <li><a href="https://twitter.com/codeceptjs">Twitter</a></li>
                    <li><a href="http://sdclabs.com/codeceptjs?utm_source=codecept.io&utm_medium=top_2&utm_term=link&utm_campaign=reference">Enterprise Support</a></li>
                </ul>
            </li>

            </ul>

            <!-- Search, Navigation and Repo links -->
            <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown promo">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Services  <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="http://sdclabs.com/codeceptjs?utm_source=codecept.io&utm_medium=top_2&utm_term=link&utm_campaign=reference">Consulting &raquo;</a></li>
                                <li><a href="http://sdclabs.com/trainings/web-automation-codeceptjs?utm_source=codecept.io&utm_medium=top_menu&utm_term=link&utm_campaign=reference">Trainings &raquo;</a></li>
                                <li><a href="http://sdclabs.com/codeceptjs?utm_source=codecept.io&utm_medium=top_1&utm_term=link&utm_campaign=reference">Test Automation &raquo;</a></li>
                            </ul>
                        </li>



                <li {% if not next_page %}class="disabled"{% endif %}>
                    <a rel="prev" {% if next_page %}href="{{ next_page.url }}"{% endif %}>
                        Next <i class="fa fa-arrow-right"></i>
                    </a>
                </li>
                {% if repo_url %}
                <li>
                    <a href="{{ repo_url }}">
                        {% if repo_name == 'GitHub' %}
                            <img src="/images/github.png" style="height: 1.2em;" alt="">
                            <i class="fa fa-github"></i>
                        {% elif repo_name == 'Bitbucket' %}
                            <i class="fa fa-bitbucket"></i>
                        {% endif %}
                        {{ repo_name }}
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
