<div class="col-md-2" class="promo-1">

    <div>

        <h3>Search</h3>
            <script>
                    (function() {
                      var cx = '009959493015473517972:w6bnokjcsq8';
                      var gcse = document.createElement('script');
                      gcse.type = 'text/javascript';
                      gcse.async = true;
                      gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                      var s = document.getElementsByTagName('script')[0];
                      s.parentNode.insertBefore(gcse, s);
                    })();
                  </script>
                  <gcse:search></gcse:search>

                  <hr>
    </div>

    <div class="promo-banner"  >
                <h3>
                    Enterprise Support
                </h3>

                <p>We help you to develop efficient end to end tests
                    <a href="http://sdclabs.com/codeceptjs?utm_source=codecept.io&utm_medium=right&utm_term=link&utm_campaign=reference">Learn More &raquo;</a>
                </p>
    </div>

</div>
