body {  
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 40px;
}

h1,h2,h3,h4,h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;  
}

body h2 {
  letter-spacing: 0.9;
}

body .navbar {
  background: #7B1FA2;
  color: #fff;
  border: none;
}

body .navbar a {
  color: #e5e5e5 !important;
}

body .navbar .dropdown-menu {
  background: #333;
}

body .navbar .dropdown-menu {
  background: #333 !important;
}

body .navbar .dropdown-menu>li>a:hover { 
  background: #8C16C3;
}

footer {
  background: #8C16C3 url(/images/img01.jpg) repeat;
  padding: 2em;
  color: #f5f5f5;
  font-size: 1.2em;
}


footer .imglist li {
  padding-left: 5px;
  padding-right: 15px;
}

footer .imglist {
  color: #666;
  font-weight: 400;
}

footer .imglist img {
  width: 64px;
  margin-right: 10px;
  opacity: 0.5;
}
footer .imglist a {
  color: #e5e5e5;
}

footer a {
  color #fff;
}

footer .rebilly {
  background: rgba(255,255,255,0.3);
  width: 300px;
  border-radius: 30px;
}

.jumbotron {
  margin: 0;
  padding-top: 5em;
  padding-bottom: 2em;
  background: #8C16C3 url(/images/img01.jpg) repeat;
  color: #fff;
  text-align: center;
}

.jumbotron p {
 text-align: left; 
 font-family: 'Source Sans Pro', sans-serif;
}

.jumbotron h1 {
  font-weight: bold;
  text-shadow: rgb(99, 33, 132) 1px 1px,
    rgba(99, 33, 132, 0.1) 2px 2px,
    rgba(99, 33, 132, 0.1) 3px 3px,
    rgba(99, 33, 132, 0.1) 4px 4px,
    rgba(99, 33, 132, 0.1) 5px 5px,
    rgba(99, 33, 132, 0.1) 6px 6px,
    rgba(99, 33, 132, 0.1) 7px 7px,
    rgba(99, 33, 132, 0.1) 8px 8px,
    rgba(99, 33, 132, 0.1) 9px 9px,
    rgba(99, 33, 132, 0.1) 10px 10px,
    rgba(99, 33, 133, 0.1) 11px 11px,
    rgba(100, 33, 133, 0.1) 12px 12px,
    rgba(100, 33, 134, 0.1) 13px 13px,
    rgba(101, 33, 135, 0.1) 14px 14px,
    rgba(101, 33, 135, 0.1) 15px 15px,
    rgba(102, 34, 136, 0.1) 16px 16px,
    rgba(102, 34, 136, 0.1) 17px 17px,
    rgba(103, 34, 137, 0.1) 18px 18px,
    rgba(103, 34, 138, 0.1) 19px 19px,
    rgba(104, 34, 138, 0.1) 20px 20px,
    rgba(104, 34, 139, 0.1) 21px 21px,
    rgba(105, 34, 140, 0.1) 22px 22px,
    rgba(105, 35, 140, 0.1) 23px 23px,
    rgba(106, 35, 141, 0.1) 24px 24px,
    rgba(106, 35, 141, 0.1) 25px 25px,
    rgba(107, 35, 142, 0.1) 26px 26px,
    rgba(107, 35, 143, 0.1) 27px 27px,
    rgba(108, 35, 143, 0.1) 28px 28px,
    rgba(108, 35, 144, 0.1) 29px 29px,
    rgba(109, 36, 145, 0.1) 30px 30px;
  text-align: center;
}

.jumbotron a {
  color: #fff;
  /*text-decoration: underline;*/
}

.jumbotron .motto {
  letter-spacing: 0.10em;
  text-transform: uppercase;
  font-size: 0.9em;
  color: #fff;
  margin-bottom: 4em;
}

.jumbotron h3 {
  font-size: 1em;
  font-weight: 900;
  font-family: 'Source Sans Pro', sans-serif; 
  margin: 1em 0em;  
  text-transform: uppercase;
}

.jumbotron ul {
  text-align: left;
}

.jumbotron ul li {
  line-height: 1.7;
}

.jumbotron .sample {
  margin-top: 1em;
  background: #6D2491;
  border-top: 3px solid #3F055D;
  overflow: hidden;
}

.install-label {
  color: #999;
  font-size: 1.5em;
  display: inline-block;
  text-transform: uppercase;;
  margin-right: 10px;
  font-family: 'Montserrat'
}

.install {
  background: #F9F9F9;
  display: inline-block;
  color: #666;
  font-family: 'Ubuntu Mono', 'monospace';
  padding: 1em;
  font-size: 1.1em;
  font-weight: 400;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 10px;
  border: 1px solid #E1BEE7;
  border-left: 3px solid #6D2491;
}

body pre {
  padding: 0;
  margin: 0;  
  line-height: 0;
  border: none;
}

body pre code {
  font-family: 'Ubuntu Mono', 'monospace';
  padding: 0;
  font-size: 17px;
  line-height: 1.5;
  white-space: pre-wrap;
  text-align: left;
}

.jumbotron pre code {
  background: #6D2491;
  color: #fff;  
}

.jumbotron code .hljs-string {
  font-weight: bold;
}

.wrapper {
  background: #EDEDED;
  padding: 2em;
  text-align: center;
}

h2:before {
  /*content: "¶";*/
  color: #6D2491;
  font-weight: bold;
  margin-right: 10px;
}

.page h3:before {
  content: "✓";
  color: #ccc;
  font-weight: bold;
  margin-right: 10px;

}

h2, .page h2, .page h3 {
  letter-spacing: -2px;
  text-transform: uppercase;;
  color: #999;
}

.page h3 {
  color: #607D8B;
}

.page {
  color: #666;
  font-family: 'Source Sans Pro', 'sans-serif';
  font-size: 1.3em;
  line-height: 1.7;
}

.page p {
  margin-bottom: 2em;
}

.light {
  background: #FFEB3B;
  padding: 0.5em;
  margin-left: -0.5em;
  margin-right: 0.5em;
}

.imglist {
  display: inline;
  list-style-type: none;
  padding-left: 0;
}

.imglist li {
  display: inline-block;
  margin-left: 0;
}

.powered li img {
  width: 100px;
}

body .bs-sidebar {
  position: static !important;
  width: 100%;
  font-size: 1em;
}

.reference {
  font-size: 1.3em;
}

.reference h2 {
  text-transform: none;
}

.reference li>code {
  color: #607D8B;
  font-weight: bold;
}

.reference p {
  margin-bottom: 1em;
  line-height: 1.5em;
}

.reference h1 {
  padding-bottom: 0.5em;
  background: #533978 url('/images/scr01.jpg');
  margin-top: 1em;
  padding-left: 0.5em;
  color: #e5e5e5;
  letter-spacing: 5px;
  font-size: 3em;
  text-shadow: 0px 2px 1px #333;
}