Appends text to a input field or textarea.
Field is located by name, label, CSS or XPath

```js
I.appendField('#myTextField', 'appended');
```
@param {string|object} field located by label|name|CSS|XPath|strict locator
@param {string} value text value to append.