Performs a click on a link and waits for navigation before moving on.

```js
I.click('Logout', '#nav');
```
@param locator clickable link or button located by text, or any element located by CSS|XPath|strict locator
@param context (optional) element to search in CSS|XPath|Strict locator