Performs a click on a link and waits for navigation before moving on.

```js
I.clickLink('Logout', '#nav');
```
@param {string|object} locator clickable link or button located by text, or any element located by CSS|XPath|strict locator
@param {string|object} context (optional, `null` by default) element to search in CSS|XPath|Strict locator