Checks that current URL path does NOT match the expected path.
Query strings and URL fragments are ignored.

```js
I.dontSeeCurrentPathEquals('/form'); // fails for '/form', '/form?user=1', '/form#section'
I.dontSeeCurrentPathEquals('/'); // fails for '/', '/?user=ok', '/#top'
```

@param {string} path value to check.
@returns {void} automatically synchronized promise through #recorder
