Verifies that the specified checkbox is not checked.

```js
I.dontSeeeCheckboxIsChedcked('#agree'); // located by ID
I.dontSeeeCheckboxIsChedcked('I agree to terms'); // located by label
I.dontSeeeCheckboxIsChedcked('agree'); // located by name
```

@param {string|object} field located by label|name|CSS|XPath|strict locator.