Performs a double-click on an element matched by link|button|label|CSS or XPath.
Context can be specified as second parameter to narrow search.

```js
I.doubleClick('Edit');
I.doubleClick('Edit', '.actions');
I.doubleClick({css: 'button.accept'});
I.doubleClick('.btn.edit');
```

@param {string|object} locator clickable link or button located by text, or any element located by CSS|XPath|strict locator.
@param {string|object} context (optional, `null` by default) element to search in CSS|XPath|Strict locator.
