Performs a download file on an element matched by link|button|CSS or XPath.
File is downloaded by default to output folder


```js
I.downloadFile('td[class="text-right file-link"] a');
```

@param locator clickable link or button located by CSS|XPath locator.