Performs a download file on an element matched by link|button|CSS or XPath.
File is downloaded by default to output folder.
If no custom file name is provided, the default name will be used


```js
I.downloadFile('td[class="text-right file-link"] a', 'thisIsCustomName');
```

@param {CodeceptJS.LocatorOrString} locator clickable link or button located by CSS|XPath locator.
@param {string} file custom file name.
@returns {Promise<void>} automatically synchronized promise through #recorder
