Drag an item to a destination element.

```js
I.dragAndDrop('#dragHandle', '#container');
```

@param {LocatorOrString} srcElement located by CSS|XPath|strict locator.
@param {LocatorOrString} destElement located by CSS|XPath|strict locator.
@return {Promise<any>}