Grab number of visible elements by locator.

```js
let numOfElements = await I.grabNumberOfVisibleElements('p');
```

@param {string|object} locator located by CSS|XPath|strict locator.
@returns {Promise<number>} number of visible elements