Grab WebElement for given locator
Resumes test execution, so **should be used inside an async function with `await`** operator.

```js
const webElement = await I.grabWebElement('#button');
```

@param {CodeceptJS.LocatorOrString} locator element located by CSS|XPath|strict locator.
@returns {Promise<*>} WebElement of being used Web helper
