Retrieves the innerHTML from an element located by CSS or XPath and returns it to test.
Resumes test execution, so **should be used inside an async function with `await`** operator.


```js
let postHTML = await I.grabHTMLFrom('#post');
```