Run the Lighthouse tool to return either scores or HTML report

```js
// if no URL is provided, the URL in config will be passed
//return the scores
// Lighthouse scores: 0.97, 0.86, 0.93, 0.83, 0.56
const scores = await I.grabLighthouseScores();

//with given URL
// Lighthouse scores: 0.97, 0.86, 0.93, 0.83, 0.56
const scores = await I.grabLighthouseScores('https://codecept.io');

//return the HTML report
const scores = await I.grabLighthouseScores('https://codecept.io', true);
```

@param {string} URL to run Lighthouse against.
@param {boolean} return HTML report option. Default is `false`