Moves cursor to element matched by locator.
Extra shift can be set with offsetX and offsetY options.

An optional `context` (as a second parameter) can be specified to narrow the search to an element within a parent.
When the second argument is a non-number (string or locator object), it is treated as context.

```js
I.moveCursorTo('.tooltip');
I.moveCursorTo('#submit', 5,5);
I.moveCursorTo('#submit', '.container');
```

@param {CodeceptJS.LocatorOrString} locator located by CSS|XPath|strict locator.
@param {number|CodeceptJS.LocatorOrString} [offsetX=0] (optional, `0` by default) X-axis offset or context locator.
@param {number} [offsetY=0] (optional, `0` by default) Y-axis offset.
@returns {void} automatically synchronized promise through #recorder
