Presses a key in the browser and leaves it in a down state.

To make combinations with modifier key and user operation (e.g. `'Control'` + [`click`](#click)).

```js
I.pressKeyDown('Control');
I.click('#element');
I.pressKeyUp('Control');
```

@param {string} key name of key to press down.
@return {Promise<any>}