Releases a key in the browser which was previously set to a down state.

To make combinations with modifier key and user operation (e.g. `'Control'` + [`click`](#click)).

```js
I.pressKeyDown('Control');
I.click('#element');
I.pressKeyUp('Control');
```

> You can automatically change operation modifier key based on operating system.
Mapping `'Control'` to `'Meta'` (also known as `'Command'`) on macOS machines or mapping `'Meta'` to `'Control'` on non-macOS machines. In order to use this feature set `detectOS: true` config in helper's config.


@param {string} key name of key to release.
