Resize the current window to provided width and height.
First parameter can be set to `maximize`.

@param {number} width width in pixels or `maximize`.
@param {number} height height in pixels.
@returns {Promise<void>} automatically synchronized promise through #recorder
