Saves a screenshot to custom folder (set in codecept.conf.ts or codecept.conf.js).
Filename is relative to custom folder.
Optionally resize the window to the full available page `scrollHeight` and `scrollWidth` to capture the entire page by passing `true` in as the second argument.

```js
I.saveScreenshotToPath('output/custom','debug.png');
I.saveScreenshotToPath('output/custom','debug.png', true) //resizes to available scrollHeight and scrollWidth before taking screenshot
```

@param {string} path custom path to save file.
@param {string} fileName file name to save.
@param {boolean} [fullPage=false] (optional, `false` by default) flag to enable fullscreen screenshot mode.
@returns {void} automatically synchronized promise through #recorder
