Print a text in console log

```js
I.say('This is red', 'red'); //red is used
I.say('This is blue', 'blue'); //blue is used
I.say('This is by default'); //cyan is used
```
@param {string} text expected on console log.
@param {string} [color='cyan'] color you want to use.
[!] returns a _promise_ which is synchronized internally by recorder