Checks that all elements with given locator have given attributes.

```js
I.seeAttributesOnElements('//form', { method: "post"});
```

@param {CodeceptJS.LocatorOrString} locator located by CSS|XPath|strict locator.
@param {object} attributes attributes and their values to check.
@return {Promise<any>}