Checks that a given Element is present in the DOM
Element is located by CSS or XPath.

```js
I.seeElementInDOM('#modal');
```
@param {string|object} locator element located by CSS|XPath|strict locator.
