Checks that the active JavaScript popup, as created by `window.alert|window.confirm|window.prompt`, contains the
given string.

```js
I.seeInPopup('Popup text');
```
@param {string} text value to check.
⚠️ returns a _promise_ which is synchronized internally by recorder
