Asserts that response code from a url is equal to provided status code.

```js
I.seeResponseCodeIs('https://google.com', '200');
```

@param string URL string to get the response code.
@param string expected response code.