Set the current geo location


```js
I.setGeoLocation(121.21, 11.56);
I.setGeoLocation(121.21, 11.56, 10);
```

@param {number} latitude to set.
@param {number} longitude to set
@param {number=} altitude (optional, null by default) to set
@return {Promise<any>}