Starts recording of websocket messages.
This also resets recorded websocket messages.

```js
await I.startRecordingWebSocketMessages();
```

@returns {void} automatically synchronized promise through #recorder
