Types out the given text into an active field.
To slow down typing use a second parameter, to set interval between key presses.
_Note:_ Should be used when [`fillField`](#fillfield) is not an option.

```js
// passing in a string
I.type('Type this out.');

// typing values with a 100ms interval
I.type('4141555311111111', 100);

// passing in an array
I.type(['T', 'E', 'X', 'T']);
```

@param {string|string[]} key or array of keys to type.
@param {?number} [delay=null] (optional) delay in ms between key presses
