
Types out the given string or the array of keys provided.
_Note:_ Should only be used when using [`fillField`](#fillfield) is not an option.

```js
// When passing in a string
I.type('Type this out.');
// When passing in an array
I.type(['T', 'E', 'X', 'T']);
```

@param {string|string[]} key or array of keys to type.