Unselects a checkbox or radio button.
Element is located by label or name or CSS or XPath.

The second parameter is a context (CSS or XPath locator) to narrow the search.

```js
I.uncheckOption('#agree');
I.uncheckOption('I Agree to Terms and Conditions');
I.uncheckOption('agree', '//form');
```
@param {string|object} field checkbox located by label | name | CSS | XPath | strict locator.
@param {string} context (optional, `null` by default) element located by CSS | XPath | strict locator.