Waiting for the part of the URL to match the expected. Useful for SPA to understand that page was changed.

```js
I.waitInUrl('/info', 2);
```

@param {string} urlPart value to check.
@param {number} sec (optional, `1` by default) time in seconds to wait