Waits for the specified value to be in value attribute.

```js
I.waitForValue('//input', "GoodValue");
```

@param {string|object} field input field.
@param {string }value expected value.
@param {number} [sec=1] (optional, `1` by default) time in seconds to wait