Waits for number of tabs.

```js
I.waitForNumberOfTabs(2);
```

@param {number} expectedTabs expecting the number of tabs.
@param {number} sec number of secs to wait.
@returns {void} automatically synchronized promise through #recorder
