Waits for an element to become not attached to the DOM on a page (by default waits for 1sec).
Element can be located by CSS or XPath.

```js
I.waitForDetached('#popup');
```

@param {string|object} locator element located by CSS|XPath|strict locator.
@param {number} sec (optional, `1` by default) time in seconds to wait