Waits for a specified number of elements on the page.

```js
I.waitNumberOfVisibleElements('a', 3);
```

@param {string|object} locator element located by CSS|XPath|strict locator.
@param {number} number of elements.
@param {number} [sec=1] time in seconds to wait