Waits for a specified number of elements on the page.

```js
I.waitNumberOfVisibleElements('a', 3);
```

@param {CodeceptJS.LocatorOrString} locator element located by CSS|XPath|strict locator.
@param {number} num number of elements.
@param {number} [sec=1] (optional, `1` by default) time in seconds to wait
@returns {Promise<void>} automatically synchronized promise through #recorder
