Waits for the specified cookie in the cookies.

```js
I.waitForCookie("token");
```

@param {string} name expected cookie name.
@param {number} [sec=3] (optional, `3` by default) time in seconds to wait
@returns {void} automatically synchronized promise through #recorder
