Waits for the entire URL to match the expected

```js
I.waitUrlEquals('/info', 2);
I.waitUrlEquals('http://127.0.0.1:8000/info');
```

@param {string} urlPart value to check.
@param {number} [sec=1] (optional, `1` by default) time in seconds to wait
@returns {void} automatically synchronized promise through #recorder
