Waits for element to become enabled (by default waits for 1sec).
Element can be located by CSS or XPath.

@param {string|object} locator element located by CSS|XPath|strict locator.
@param sec (optional) time in seconds to wait, 1 by default.