# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
**/node_modules

# testing
**/coverage
debug

# production
**/build

# bundle size
stats.json
report.html

**/dist

# misc
.DS_Store
!.env.example
.env*
!.env.init
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea/

.nyc_output
.vscode
