name: Playwright Tests

on:
  push:
    branches:
      - 3.x
  pull_request:
    branches:
      - '**'

env:
  CI: true
  # Force terminal colors. @see https://www.npmjs.com/package/colors
  FORCE_COLOR: 1

jobs:
  build:

    runs-on: ubuntu-20.04

    strategy:
      matrix:
        node-version: [16.x]

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - uses: shivammathur/setup-php@v2
      with:
        php-version: 7.4
    - name: npm install
      run: |
        npm install --legacy-peer-deps
      env:
        PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: true
    - name: Install deps
      run: npm install playwright@1.32.3 & npx playwright install-deps
    - name: start a server
      run: "php -S 127.0.0.1:8000 -t test/data/app &"
    - name: run chromium tests
      run: "./bin/codecept.js run -c test/acceptance/codecept.Playwright.js --grep @Playwright --debug"
    - name: run chromium with restart==browser tests
      run: "BROWSER_RESTART=browser ./bin/codecept.js run -c test/acceptance/codecept.Playwright.js --grep @Playwright --debug"
    - name: run chromium with restart==session tests
      run: "BROWSER_RESTART=session ./bin/codecept.js run -c test/acceptance/codecept.Playwright.js --grep @Playwright --debug"
    - name: run firefox tests
      run: "BROWSER=firefox node ./bin/codecept.js run -c test/acceptance/codecept.Playwright.js --grep @Playwright --debug"
    - name: run webkit tests
      run: "BROWSER=webkit node ./bin/codecept.js run -c test/acceptance/codecept.Playwright.js --grep @Playwright --debug"
    - name: run unit tests
      run: ./node_modules/.bin/mocha test/helper/Playwright_test.js
