name: Playwright Tests with Plugins

on:
  push:
    branches:
      - 3.x
  pull_request:
    branches:
      - '**'

env:
  CI: true
  # Force terminal colors. @see https://www.npmjs.com/package/colors
  FORCE_COLOR: 1

jobs:
  build:

    runs-on: ubuntu-22.04

    strategy:
      matrix:
        node-version: [20.x]

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
    - uses: shivammathur/setup-php@v2
      with:
        php-version: 7.4
    - name: npm install
      run: |
        npm install --legacy-peer-deps
      env:
        PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: true
    - name: Install browsers and deps
      run: npx playwright install chromium && npx playwright install-deps
    - name: start a server
      run: "php -S 127.0.0.1:8000 -t test/data/app &"
    - name: run plugin tests
      run: npm run test:plugin
