name: Puppeteer Tests

on:
  push:
    branches:
      - 3.x
  pull_request:
    branches:
      - '**'

env:
  CI: true
  # Force terminal colors. @see https://www.npmjs.com/package/colors
  FORCE_COLOR: 1

jobs:
  build:

    runs-on: ubuntu-20.04

    strategy:
      matrix:
        node-version: [16.x]

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - uses: shivammathur/setup-php@v2
      with:
        php-version: 7.4
    - name: npm install
      run: |
        npm install
      env:
        PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: true
    - name: start a server
      run: "php -S 127.0.0.1:8000 -t test/data/app &"
    - name: run tests
      run: "./bin/codecept.js run -c test/acceptance/codecept.Puppeteer.js --grep @Puppeteer --debug"
    - name: run unit tests
      run: ./node_modules/.bin/mocha test/helper/Puppeteer_test.js
