name: WebDriver Tests

on:
  push:
    branches:
      - 3.x
  pull_request:
    branches:
      - '**'

env:
  CI: true
  # Force terminal colors. @see https://www.npmjs.com/package/colors
  FORCE_COLOR: 1

jobs:
  build:

    runs-on: ubuntu-20.04

    steps:
        - name: Checkout
          uses: actions/checkout@v2
        - uses: actions/setup-node@v3
          with:
            node-version: 18
        - uses: shivammathur/setup-php@v2
          with:
            php-version: 8.0
        - name: start a server
          run: "php -S 127.0.0.1:8000 -t test/data/app &"
        - name: start selenium
          run: docker run -d --net=host --shm-size=2g selenium/standalone-chrome:4.8.2-20230325
        - name: Install
          run: npm install
        - name: run unit tests
          run: |
           google-chrome --version
           npx mocha test/helper/WebDriver_test.js
           "./bin/codecept.js run -c test/acceptance/codecept.WebDriver.js --grep @WebDriver --debug"
