name: WebDriver Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '**'

env:
  CI: true
  # Force terminal colors. @see https://www.npmjs.com/package/colors
  FORCE_COLOR: 1


jobs:
  build:

    runs-on: ubuntu-18.04
    services:
      chrome:
        image: selenium/standalone-chrome-debug
        ports:
          - 4444:4444
          - 5900:5900
        volumes:
          - /dev/shm:/dev/shm
      app:
        image: php:apache
        volumes:
          - "./test/data/app:/var/www/html"        

    strategy:
      matrix:
        node-version: [12.x]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: install required packages
      run: |
        sudo apt-get install php
    - name: npm install
      run: |
        npm install
    - name: run unit tests
      run: ./node_modules/.bin/mocha test/helper/WebDriver_test.js
      env:
        SITE_URL: http://app
    - name: run tests
      run: "./bin/codecept.js run -c test/acceptance/codecept.WebDriver.js --grep @WebDriver --debug"
      env:
        SITE_URL: http://app      
